

<div class="container">
    <div class="row mt-3">
        <div class="col-lg-12 mt-3 text-center">
            <h1>What's Special</h1>
            <p style="color:red">Check out our tiffins</p>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 foodcateg" >

    <div class="row mt-5 m-2">
        <div class="col-lg-9 col-md-8 m-auto">
            <div class="row">
                <div *ngFor="let item of item_list;let i=index" class="col-lg-4   col-sm-7 m-auto text-center pb-5"
                    >
                    <div class="card"  data-aos="zoom-in">
                        <img [src]=item.img class="card-img-top" alt="..." >
                        <div class="card-body">
                            <h4 class="card-title">{{item.item_name}}</h4>
                            <p style="color:burlywood">{{item.desc}}</p>
                            <h6 class="card-text">Rs.{{item.price}}
                            </h6>
                            <form (ngSubmit)="orderItem(item.item_name,item.price,$event)">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="number" class="form-control" name="qty" value="1" min="1">
                                    </div>
                                    <div class="col-lg-4 m-2">
                                        <input type="submit" class="btn btn1 btn-sm" value="Order">
                                    </div>
                                </div>
                                
                                

                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <app-orders></app-orders>
        </div>
    </div>
    
                
</div>
<section>
    <div class="row eat" style="background-image: url(../assets/img/food1.jpg);">
        <div class="col-lg-12 mt-5  m-auto text-center">
            <span>
                <h1 style="font:80px bold">Delicious food</h1>
                <p style="font:30px solid white">Providing hygienic food with all categories of recipes....</p>
            </span>

        </div>

    </div>
</section>